data/traces_upto*
traces_up_to*
data/*.m
src/.magma-scan
src/*-dyn
src/*.o
src/.deps/
src/*~
src/*_dyn
src/*_sta
aclocal.m4
Makefile.in
autom4te.cache
cnf
config.log
config.status
*~
libtool
m4
Makefile
configure
ltmain.sh
